body {
  margin: 0;
  background-color: #220544;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;   
  color: #ffffff;
  justify-content: center;
}

header {
  background-color: #220544;
  padding: 0%;
  text-align: center;
  font-size: 200%;
  margin-bottom: 2.5%;
}

.section-card {
  background-color: #110320;
  padding: 30px;
  width: 90%;
  border-radius: 16px;
  margin: auto;
  font-size: 100%;
}

section {
  margin-bottom: 16%;
}

.nav-buttons {
  background-color: #0a8f2e;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.nav-buttons:hover {
  background-color: #097726;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  text-align: center;
  background-color: #110320;
  padding-bottom: 2%;
  padding-top: 2%;
}