/* changed the font styles as well as the alignment and sizes of the divs for the main contents. */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #ccc;
}

header, footer {
    background-color: #0066CC;
    color: #333;
    padding: 20px;
    text-align: center;
}

p, a {
  color: #383838;
  text-decoration: none
}

.column {
    float:left;
    width: 30%;
    margin: 2%;
    background-color: #999999;
    padding: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 768px) {
    .column {
        width: 100%;
        float: none;
        margin: 0 0 20px 0;
    }
}

/* .row {
    overflow: hidden;
} */

/* .post img {
    float: right;
    width: 18%;
    margin-right: 10px;
} */